

body
{


    background-color: cadetblue;
    font-family: 'Neucha', cursive;


}

h1
{

    font-size: 50px;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 0px;
}



#center
{

    height:500px;
    width: 700px;
    background-color: antiquewhite;
    margin-top: 10px;
    margin-left: 150px;
    float:left;
}

#scores
{
    float:left;
    width: 300px;
    height:300px;
    margin-top: 10px;
    background: cornflowerblue;
    font-size: 70px;
    text-align: center;
    line-height: 400%;
    margin-left: 20px;
    border-radius: 360px;
    border:3px solid black;
}

